@font-face {
  font-family: MonumentExtended;
  src: url('../../public/font/MonumentBold.otf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}
