.imageList {
  width: 360px !important;
  height: 360px !important;

  justify-content: start !important;
  @media screen and (max-width: 740px) {
    // margin: auto !important;
    // width: 430px !important;
    // height: 430px !important;
    img {
      // width: 435px !important;
      // height: 450px !important;
    }
  }
}
