.imageList {
  width: 360px !important;
  height: 440px !important;
  display: flex !important;
  justify-content: start !important;

  .swiper-slide img {
    display: inline-flex;
    width: 360px !important;
    height: 360px !important;

    @media screen and (max-width: 740px) {
      width: 360px !important;
      height: 360px !important;
    }

    .imageList .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 360px !important;
    }
  }
  .swiper-slide {
    /* Center slide text vertically */
    height: 360px !important;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 10% !important;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-bottom: 320px !important;
  }
}
