.imageList {
  width: 360px !important;
  height: 360px !important;

  justify-content: start !important;
  @media screen and (max-width: 740px) {
    margin: 0px !important;
    width: 500px !important;
    height: 500px !important;
  }
}
