.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 90px 0px;

  background-image: linear-gradient(
    82deg,
    #fe4c64 3%,
    #b72dc3 49%,
    #641fb9 97%
  );

  h2 {
    width: 500px;
    height: 50px;
    font-family: 'MonumentExtended', monospace;
    font-size: 42px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }

  span {
    max-width: 460px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px 20px;
  }
}

.slide {
  width: 100%;
  height: 337px;
}
