.atendimento {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.text {
  padding-left: 120px;

  h2 {
    width: 454px;
    height: 102px;
    font-family: MonumentExtended;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;

    line-height: 1.21;
    text-align: left;
    color: #000;

    padding-top: 150px;
    padding-right: 150px;
  }

  p {
    width: 546px;
    height: 144px;

    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 200;

    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgb(154, 154, 154);

    padding-top: 70px;
    padding-right: 200px;
    padding-bottom: 106px;
  }
}

.contatos {
  display: flex;
  flex-flow: column;
  justify-content: center;

  background-color: #f8f8f8;
  width: 1920px;
  height: 540px;

  h2 {
    padding-left: 450px;
    font-family: MonumentExtended;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 800;

    padding-bottom: 69px;
  }

  .infosContacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 240px;

    span {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: 'Roboto Mono', monospace;
      font-size: 16px;
      font-weight: 200;
      text-align: center;
      line-height: 1.5;

      padding-top: 41px;

      strong {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #000;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 256px;
      height: 245px;

      & + div {
        margin-left: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
