.mySwiper {
  width: 100vw;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 740px) {
    width: 100vw;
    img {
      width: 50vw;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 50px !important;
  height: 20px !important;
  color: white !important;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 10 !important;
}

.swiper-button-prev:after {
  font-size: 25px !important;
  z-index: 10 !important;
}
.swiper-button-next:after {
  font-size: 25px !important;
  z-index: 10 !important;
}
