.detalhes {
  width: 560px !important;
  height: 600px;

  .swiper-slide img {
    margin-left: 0px !important;
    margin-right: 0px !important;

    width: 100% !important;
    height: 552px;

    @media screen and (max-width: 740px) {
      width: 100% !important;
      // height: 360px !important;
    }
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: start;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    // top: 98%;
  }

  @media screen and (max-width: 740px) {
    width: 100% !important;
    height: 450px !important;
  }
  .swiper {
    width: 100% !important;
  }
}
.swiper {
  margin-left: 10px !important;
  margin-right: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
}
