.detalhes {
  display: flex;
  width: 510px;
  height: 540px;
  margin-left: 40px;
  @media screen and (max-width: 740px) {
    width: 413px;
    height: 450px;
    margin-left: 0px;

    img {
      width: 416px;
      height: 413px;
    }
  }
}
